<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Ms Technologies
      <small>Since 2007</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Layout</a></li>
      <li class="active">Top Navigation</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- <div class="callout callout-info">
      <h4>Tip!</h4>

      <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a
        sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and use regular
        links instead.</p>
    </div> -->
    <div class="callout callout-danger">
     
     <!--  <p>The construction of this layout differs from the normal one. In other words, the HTML markup of the navbar
        and the content will slightly differ than that of the normal layout.</p> -->
        <router-outlet></router-outlet>
      </div>
    <div class="box box-default">
     <!-- <div class="box-header with-border">
        <h3 class="box-title">Política y Objetivos Estrátegico​s de la Calidad</h3>
      </div>
      <div class="box-body">
          <p>Quienes hacemos MSTech todos los días, somos un conjunto de profesionales en el campo de la tecnología y la empresa, para ofrecer soluciones que incrementen la rentabilidad y eficiencia de las organizaciones basado en los siguientes valores </p>

        <ul>Entendimiento: Nuestros clientes son la esencia de nuestro trabajo, logrando un profundo conocimiento de sus procesos, comprendiendo sus problemáticas, metas, fortalezas y debilidades y escuchando sus desafíos.</ul>
        <ul>Conocimiento: Somos una empresa basada en el conocimiento. Nuestra meta es la mejora del desempeño utilizando nuevas tecnologías que mejoren la productividad interna y el desempeño de las soluciones y  aplicando las mejores prácticas para la creación de valor.</ul>
        <ul>Flexibilidad: El mundo actual de los negocios exige alcanzar un equilibrio entre la estabilidad y velocidad de cambio. Nuestra metodología nos permite responder con rapidez a los desafíos.</ul>
        <ul >Integridad: Actuamos con integridad, respeto mutuo y apertura en todo lo que hacemos.</ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>